.robot {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.reCaptcha {
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    color: #0D3860CF;
}

.captcha {
    border: solid black 1.5px;
    display: flex;
    align-items: center;
    width: 305.45px;
    height: 63.45px;
    border-radius: 15px;
    justify-content: space-around;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

    .btn {
        width: 180px;
        height: 49px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        line-height: 45px;
        text-align: center;
        color: white;
    }
}



.btn__login {
    background-color: #2C2C2C;
}

.btn__register {
    background-color: #E25822;
}

.submit__btn {
    display: flex;
    gap: 30px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 40px;

    .login__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .btn {
        width: 816px;
        height: 53px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
