.register__btn {
    background-color: #E25822;
    color: white;
    width: 162px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.date {
    width: 1110px;
    height: 45px;
}