.authen-template {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    height: 600px;
    background-image: url('../../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    z-index: 10;
    margin-bottom: 900px;

    h1 {
        font-size: 128px;
        font-weight: 600;
        line-height: 128px;
        text-align: center;
        padding: 70px 0px 35px 0px;

    }

    h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
        padding-bottom: 40px;
    }

    h3 {
        color: black;
        font-size: 45px;
        font-weight: 700;
        line-height: 45px;
        text-align: center;
        padding-bottom: 25px;
    }
}

.authen-template__form {
    width: 1110px;
    height: fit-content;
    background-color: white;
    padding: 40px;
    top: 315px;
    position: absolute;
    border-radius: 5px;

}

Form {
    Input {
        width: 1065px;
        height: 45px;
    }
}