.message {
    color: #fff;
  
    &__detail {
      width: 60%;
      //   margin: 5px 0;
      padding: 0px 0px 20px 20px;
      display: flex;
      align-items: center;
  
      &__avatar {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          max-width: none;
        }
        margin-right: 10px;
      }
  
      &__text {
        background-color: #262626;
        padding: 15px;
        border-radius: 20px;
        .info {
          margin-bottom: 5px;
          font-size: 12px;
        }
      }
      &__img{
        img{
          width: 500px;
        }
      }
    }
    &.me {
      display: flex;
      justify-content: end;
  
      .message__detail {
        padding: 0px 20px 20px 0px;
  
        flex-direction: row-reverse;
        &__avatar {
          margin-left: 10px;
          margin-right: 0;
        }
        &__text {
          background-color: rgb(55, 151, 240);
        }
      }
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .message {
      &__detail {
        width: 80%;
      }
    }
  }
  
  @media only screen and (max-width: 680px) {
    .message {
      &__detail {
        width: 90%;
      }
    }
  }