.ant-steps-item-title::after {
    background-color: #e25822 !important;
}

.step {
    font-weight: 520;
    margin: 25px 0px;
}

.ant-steps-item-finish .ant-steps-icon {
    color: #e25822 !important;
}

.done-btn {

    background-color: #2cae56cf;

}

.done {
    display: flex;
    justify-content: flex-end
}

.btn-item {
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
    padding: 12px 15px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.nextStep-btn {
    background-color: #e25822;
}

.ant-tooltip {
    display: none !important;
}