.banner {
    background-image: url('../../img/koifish.png');
    height: 741px;
    color: white;

    h1 {
        font-size: 128px;
        font-weight: 600;
        text-align: center;
    }

    h6 {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
    }

    .banner__item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

}

h5 {
    font-size: 25px;
    font-weight: 300;
    text-align: left;
    color: #808081;
}

h4 {
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    text-align: left;
}

h2 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;



    .cnt__img {
        img {
            width: 696px;
            height: 443px;
        }
    }

    .cnt1__wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 60px;



        .item {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }
}

.cnt2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 40px 50px 40px;

    .cnt2__wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .cnt2__border {
        height: 267px;
        border: solid black 1px;
    }
}

.home__btn {
    width: 174px;
    height: 61px;
    background-color: #2C2C2C;
    color: #F5F5F5;
    border-radius: 8px;
}

.border {
    border: solid black 1px;
    width: 100%;
}

.logo {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 80px;

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}