.service{
    &__img{
        width: 100%;
    height: 461px;
    top: 87px;
    left: -5px;
    gap: 0px;
    opacity: 0px;
    backdrop-filter: blur(4px)
    }
    &__text1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 128px;
        box-shadow: var(--sds-size-depth-200) var(--sds-size-depth-100) 4px 0px rgba(0, 0, 0, 0.25);
    }
    &__text2 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 32px;
    }
    &__button {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            font-size: 30px;
            border: 1px solid rgba(0, 0, 0, 1);
            border-radius: 5px;
            cursor: pointer;
            padding: 7px 12px;
            background-color: #fff;
            color: #111;
        }
        &__1{
            margin-right: 15px;
        }
    }
}