.ant-layout-sider-children {
    background-color: rgba(245, 245, 245, 1);
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;


}

.ant-menu-item-selected {
    background-color: rgba(44, 44, 44, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
    border-radius: 0% !important;
}

.ant-menu-title-content {
    a {
        color: black !important;
    }
}
.note{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}