.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__nav {
        ul {
            display: flex;
            list-style: none;
            gap: 50px;
        }

        li {
            a {
                text-decoration: none;
                font-size: 15px;
                font-weight: 600;
                text-align: center;
                color: black;
            }
        }
    }

    .header__btn {
        background-color: #E25822;
        border-radius: 5px;
        width: 141px;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-align: center;

    }
}