.dosmetic {
    .dosmetic__title {
        text-align: center;
        align-content: center;
        height: 50vh;
        .dosmetic__title__1 {
            padding-left: 48vh;
            padding-right: 48vh;
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
        }
        .dosmetic__title__2 {
            padding-top: 5vh;
            padding-left: 5vh;
            padding-right: 5vh;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
        }
    }
    .dosmetic__rectangle {
        height: 90vh;
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 10vh;

        display: flex;
        align-items: center;
        .dosmetic__rectangle__title {
            width: 100%;
            text-align: center;
            .dosmetic__rectangle__title__1{
                font-size: 35px;
                font-weight: 500;
                line-height: 35px;
                padding-bottom: 10vh;
            }
            .dosmetic__rectangle__title__2 {
                padding-left: 10vh;
                padding-right: 5vh;
                font-size: 25px;
                font-weight: 300;
                line-height: 25px;
                text-align: left;
            }
        }
        img {

            width: 100vh;
            height: 65vh;
            
        }
        .dosmetic__rectangle__img1 {
            padding-right: 4%;
        }
        .dosmetic__rectangle__img2 {
            padding-left: 8%;
        }
    }
    .dosmetic__container {
        height: 100dvh;
        background: #2c2c2c;
        display: flex;
        color: #fff;
        align-items: center;
        .dosmetic__container__left {
            width: 45%;
            align-items: center;
            margin-right: 10%;
            margin-left: 5%;
            p {
                margin-bottom: 30px;
                text-align: center;
                align-items: center;
            }
            .dosmetic__container__left__title {
                font-size: 50px;
                font-weight: 600;
            }
            .dosmetic__container__left__paragraph {
                font-size: 32px;
                font-weight: 500;
            }
        }
        .dosmetic__container__right {
            color: rgba(226, 88, 34, 1);
            align-items: center;
            align-content: center;
            
            p {
                position: relative;
                background-color: #fff;
                border: #fff solid;
                border-radius: 10px;
                height: 10vh;
                width: 70vh;
                align-content: center;
                text-align: center;
                margin-bottom: 10px;
                padding-left: 5vh;
                img {
                    position: absolute;
                    left: 1.75vh;
                    bottom: 1.5vh;
                    height: 7vh;
                }
            }
        }
    }
    .dosmetic__support {
        text-align: center;
        background-color: #fff;

        .dosmetic__support__title {
            height: 45vh;
            margin-left: 15vh;
            margin-right: 15vh;
            align-content: center;
            font-size: 45px;
            font-weight: 700;
        }
        .dosmetic__support__rectangle {
            height: 70vh;
            justify-content: space-around;
            display: flex;
            div {
                position: relative;
                width: 50vh;
                border-radius: 10px;
                background-color: #2c2c2c;
                margin: 5vh 5vh 10vh 5vh;
                padding-top: 5vh;
                padding-left: 5vh;
                padding-right: 5vh;
                padding-bottom: 5vh;
            }
            .dosmetic__support__rectangle__title {
                font-size: 30px;
                line-height: 30px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                padding-top: 5vh;
                padding-bottom: 5vh;
            }
            .dosmetic__support__rectangle__paragraph {
                padding-top: 5vh;
                font-size: 15px;
                line-height: 20px;
                font-weight: 300;               
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}